:root {
    --main-color: #0063d1;
    --loading-bar-color: #2ecc71;
}

body {
    font-family: "Kanit", sans-serif !important;
    background-color: #ffffff;
    margin: 0;
}

.main-font {
    font-family: "Kanit", sans-serif !important;
}

a {
    text-decoration: none;
    color: #000000;
}

.pointer {
    cursor: pointer;
}

.header-lg {
    position: fixed;
    width: 100%;
    z-index: 999;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    height: 80px;
    box-shadow: 0 3px 3px rgb(0 0 0 / 15%);
    background-color: var(--main-color);
}

.header-lg .logo img {
    height: 50px;
}

.header-lg .menu-container {
    display: flex;
    justify-content: flex-end;
}

.header-lg .menu-container .menu-item a {
    cursor: pointer;
    margin: 0 10px;
    padding: 10px 15px;
    font-size: 18px;
    border-radius: 100px;
}

.header-lg .menu-container .menu-item:last-child {
    /* padding-right: 0px; */
    margin-right: 0;
}

.header-lg .menu-container .menu-item a {
    color: #ffffff;
}

.header-lg .menu-container .menu-item a:hover,
.header-lg .menu-container .menu-item.selected a {
    text-decoration: none;
    background-color: #ffffff;
    color: var(--main-color);
}

.header-lg .menu-container .ant-menu-item::after {
    border-bottom: none;
}

.header-xs {
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: #ffffff;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.header-xs-hidden {
    content: "";
    width: 100%;
    height: 50px;
}

.header-xs .logo,
.header-xs .more-menu {
    height: 100%;
}

.header-xs .logo img {
    height: 100%;
}

.header-xs .more-menu img {
    height: 90%;
}

.more-menus-drawer .list-group-item.selected {
    color: var(--main-color);
}

.footer {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
    padding: 30px;
    color: #ffffff;
    text-align: center;
}

.content {
    min-height: calc(100vh - 300px);
    padding-top: 30px;
    padding-bottom: 30px;
}

.menu-box {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: all 0.4s;
}

.menu-box:hover {
    transform: scale(1.05);
    background-color: var(--main-color);
    color: #ffffff;
}

.menu-box > .image img {
    width: 80px;
}

.menu-box > .text {
    flex: 1;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}

.page-title {
}

.job-item {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    height: 100%;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    transition: all 0.4s;
}

.job-item:hover {
    transform: translateY(-8px);
    border: 1px solid var(--main-color);
}

.job-item .badge-promotion {
    position: absolute;
    z-index: 9;
    bottom: 10px;
    right: 10px;
}

.job-item-cover,
.image-wrapper {
    padding-bottom: 60%;
    position: relative;
    width: 100%;
    overflow: hidden;
    background: #bdc3c7;
}

.job-item-cover img,
.image-wrapper img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: #999999;
    transition: all 0.4s;
}

.job-wrapper.rounded {
    border-radius: 10px;
}

.job-item:hover .shop-item-cover img,
.image-wrapper.hover-zoom:hover img {
    transform: scale(1.2) rotate(10deg);
}

.loading-modal .ant-modal-content {
    background-color: transparent !important;
    box-shadow: none;
    display: flex;
    justify-content: center;
}

.lds-hourglass {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-hourglass:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 8px;
    box-sizing: border-box;
    border: 32px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
    0% {
        transform: rotate(0);
        animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
        transform: rotate(900deg);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
        transform: rotate(1800deg);
    }
}

.member-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.member-profile .avatar-wrapper {
    width: 80%;
    max-width: 120px;
}

.member-profile .avatar-wrapper > .avatar {
    position: relative;
    overflow: hidden;
    height: 0;
    padding-bottom: 100%;
    border-radius: 100%;
    background-color: #dddddd;
}

.member-profile .avatar-wrapper > .avatar img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.accont-sidebar .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.accont-sidebar .profile .avatar-wrapper {
    width: 80%;
    max-width: 200px;
}
.accont-sidebar .profile .avatar-wrapper > .avatar {
    position: relative;
    overflow: hidden;
    height: 0;
    padding-bottom: 100%;
    border-radius: 100%;
    background-color: #ddd;
}
.accont-sidebar .profile .avatar-wrapper > .avatar img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.accont-sidebar .profile .display-name {
    padding-top: 15px;
}
.accont-sidebar .profile .role-label {
    margin: 5px 0;
    padding: 5px;
    background-color: #ff5a5a;
    color: #fff;
    border-radius: 8px;
    line-height: 1;
}
.accont-sidebar .menu-list-wrapper {
    width: 100%;
    text-align: center;
    margin-top: 15px;
}
.accont-sidebar .menu-list-wrapper .menu-list {
    display: inline-block;
    padding: 20px 0;
}
.accont-sidebar .menu-list-wrapper .menu-list .menu-item {
    padding: 10px 0;
    display: flex;
    gap: 10px;
    align-items: center;
    color: var(--main-app-color);
}
.accont-sidebar .menu-list-wrapper .menu-list .menu-item.active {
    color: #0f79af;
}

.authen-card-container {
    border-radius: 8px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 0px 24px;
    overflow: hidden;
}
.authen-card-container .header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 30px;
    background-color: var(--main-app-color);
}
.authen-card-container .header img {
    height: 50px;
}
.authen-card-container .header .name {
    color: #fff;
}
.authen-card-container .body {
    padding: 30px;
}
.authen-card-container button {
    border-radius: 8px;
}

#nprogress {
    pointer-events: none;
}

#nprogress .bar {
    background: var(--loading-bar-color);
    /* border-bottom: 2px solid #fff; */
    position: fixed;
    z-index: 1031;
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    z-index: 99999;
}

/* Fancy blur effect */
#nprogress .peg {
    display: block;
    position: absolute;
    right: 0px;
    width: 100px;
    height: 100%;
    box-shadow: 0 0 10px var(--loading-bar-color),
        0 0 5px var(--loading-bar-color);
    opacity: 1;

    -webkit-transform: rotate(3deg) translate(0px, -4px);
    -ms-transform: rotate(3deg) translate(0px, -4px);
    transform: rotate(3deg) translate(0px, -4px);
}

.nprogress-custom-parent {
    overflow: hidden;
    position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
    position: absolute;
}

@-webkit-keyframes nprogress-spinner {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes nprogress-spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.ant-form-item
    .ant-form-item-label
    > label.ant-form-item-required:not(
        .ant-form-item-required-mark-optional
    )::before {
    display: none;
}

.ant-form-item
    .ant-form-item-label
    > label.ant-form-item-required:not(
        .ant-form-item-required-mark-optional
    )::after {
    display: inline-block;
    margin-inline-end: 4px;
    color: #ff0000;
    font-size: 14px;
    font-family: SimSun, sans-serif;
    line-height: 1;
    content: "*";
}
